html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
